<title>Kirjastosovellus</title>
Nimi: {{ name }}
<hr>
Genre: {{ genre }}
<hr>
Kirjailija: {{ author }}
<hr>
Lisää arvostelu:
<form action="/sendreview" method="POST">
{% for i in range (1,6) %}
<input type="radio" name="review" value="{{ i }}">{{ i }}<br>
{% endfor %}
<input type="submit" value="Lähetä">
<input type="hidden" name="id" value="{{ id }}">
</form>
<hr>
<a href="/reviews/{{ id }}">Näytä arvostelut</a>
<hr>
<form action="/addtolist" method="POST">
Lisää omaan listaan
<input type="submit" value="Lähetä">
<input type="hidden" name="id" value="{{ id }}">
</form>
<hr>
<a href="/bookslist">Takaisin</a>