{% extends "layout.html" %}
{% block title %}Kirjan tiedot{% endblock %}
{% block content %}
<h2>Kirjan tiedot</h2>
Nimi: {{ name }}
<hr>
Genre: {{ genre }}
<hr>
Kirjailija: {{ author }}
{% if session.username %}
<hr>
Lisää arvostelu:
<form action="/sendreview" method="POST">
{% for i in range (1,6) %}
<input type="radio" name="review" value="{{ i }}">{{ i }}<br>
{% endfor %}
<input type="submit" value="Lähetä">
<input type="hidden" name="id" value="{{ id }}">
</form>
{% endif %}
<hr>
<a href="/reviews/{{ id }}">Näytä arvostelut</a>
{% if session.username %}
<hr>
<form action="/addtolist" method="POST">
<input type="submit" value="Lisää omaan listaan">
<input type="hidden" name="id" value="{{ id }}">
</form>
{% endif %}
{% if admin %}
<hr>
<form action="/deletebook" method="POST">
<input type="submit" value="Poista kirja">
<input type="hidden" name="id" value="{{ id }}">
</form>
{% endif %}
<hr>
<a href="/">Takaisin</a>
{% endblock %}