<title>Kirjastosovellus</title>
Kirjoja yhteensä: {{ count }}
<hr>
{% for book in books %}
<a href="/book/{{ book[0] }}">{{ book[1] }}</a>
<br>
{% endfor %}
<hr>
{% if admin %}
<a href="/new">Lisää uusi</a>
<hr>
{% endif %}
<form action="/result" method="GET">
Etsi kirjoja nimellä:
<input type="text" name="query">
<input type="submit" value="Lähetä">
</form>
<hr>
{% if session.username %}
<p>Olet kirjautunut nimellä {{ session.username }}</p>
<a href="/logout">Kirjaudu ulos</a> |
<a href="/booklist">Tarkastele lukulistaasi</a>
{% else %}
<a href="/login">Kirjaudu sisään</a> |
<a href="/register">Rekisteröidy</a>
{% endif %}
