<!doctype html>
<link rel="stylesheet" href="/../static/styles/main.css">
<meta name="viewport" content="width=device-width, initial-scale=1">

<body>
    <title>Kirjastosovellus - {% block title %}{% endblock %}</title>
    <div class="header">
        <h1>Kirjastosovellus</h1>
    </div>
    <nav>
        {% if session.username %}
        Olet kirjautunut nimellä {{ session.username }} |
        <a href="/logout">Kirjaudu ulos</a> |
        <a href="/booklist">Tarkastele lukulistaasi</a>
        {% else %}
        <a href="/login">Kirjaudu sisään</a> |
        <a href="/register">Rekisteröidy</a>
        </ul>
        {% endif %}
    </nav>
    {% block content %}{% endblock %}
</body>