body {
    margin: auto;
    max-width: 45em;
    font-family: 'Helvetica', 'Arial', sans-serif;
}

nav ul {
    display: inline-block;
    padding: 0 .5em;
}

.header {
    background: grey;
    font-weight: bold;
    padding: 2em 1em;
    font-size: 2em;
}